<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.manoj.MapApiApp">
    <uses-sdk android:minSdkVersion="15" />
    <application android:label="MapApiApp">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCQ_QRDzVNsWFLLBkAilZL0TxNyMWI4V5E" />
    </application>
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
</manifest>